<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Spotify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">spotify</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="display: flex; align-items: center; justify-content: center; gap: 10px; padding: 16px;">
    <ion-input
      type="text"
      [(ngModel)]="query"
      placeholder="Buscar canciones"
      name="query"
    ></ion-input>

    <button (click)="searchTracks()">
      <ion-icon name="search-outline"></ion-icon>
    </button>
  </div>

  <div class="tracks-container" *ngIf="tracks.length > 0">
    <ion-card *ngFor="let track of tracks" (click)="playTrack(track)">
      <img [src]="track.album.images[0]?.url" alt="Cover"/>
      <ion-card-header>
        <ion-card-title>{{ track.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Álbum: {{ track.album.name }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
