<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Canciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionInput)="searchSongs($event)"></ion-searchbar>

  <!--IF IS WEB-->
  <div *ngIf="!isMobile">
    <input type="file" (change)="directorySelected($event)" webkitdirectory directory multiple />
  </div>

  <ion-list>
    <ion-item *ngFor="let song of songsSearched" >
      <div class="container-song">
        <div (click)="openPlayer(song)" class="playable-btn">
          <ion-thumbnail slot="start">
            <img src="assets/cover/image.png" alt="Song Cover"/>
          </ion-thumbnail>
          <ion-label>
            <h6>{{song.nombre}}</h6>
          </ion-label>
        </div>
        <!-- cuidad, que no se repitan las canciones -->
        <div class="addToPlayilst">
          <button (click)="presentActionSheet(song)"><ion-icon name="add-circle-outline"></ion-icon></button>
        </div>
      </div>
      </ion-item>

  </ion-list>
</ion-content>
