<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Listas de Reproducción</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="create-button-wrapper">
    <ion-button expand="block" (click)="createPlaylist()">
      <ion-icon name="add" slot="start"></ion-icon>
      Crear Nueva Lista
    </ion-button>
  </div>

  <div class="playlists-grid">
    <ion-card *ngFor="let playlist of playlists" (click)="selectPlaylist(playlist)" class="playlist-card">
      <img
        [src]="playlist.imagen || 'assets/cover/default-playlist.png'"
        alt="Playlist Cover"
      />
      <ion-card-header>
        <ion-card-title>{{ playlist.nombre }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>


</ion-content>
