<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header> -->


<!-- contenido de la playlists -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ nombre }}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <img src="../../assets/cover/default-playlist.png" alt="Playlist Cover" style="width: 150px; height: 150px; margin: 10px auto; display: block;" />
  <div class="button">
    <button expand="block" (click)="showAddSongs()" [routerLink]="['/tab1']" routerLinkActive="router-link-active" >
      <!-- <ion-icon name="add" slot="start"></ion-icon> -->
      + Añadir Canciones
    </button>
  </div>
<!-- Canciones de la lista -->
<ion-list>
  <ion-item *ngFor="let song of songs">
    <ion-label (click)="openPlayer(song)" >{{ song.nombre }}</ion-label>
    <ion-button id="removeSong" fill="clear" (click)="removeSong(song)" >
      <ion-icon name="trash-outline" style="color: red; font-size: 25px; padding-top: 10px;"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>


</ion-content>
