<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ songName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="player-container">
    <img src="assets/cover/image.png" alt="cover" class="cover-image" />
    <h2 class="song-title">{{ songName }}</h2>
    <ion-range
      min="0"
      [max]="duration"
      [value]="currentTime"
      (ionChange)="onSeek($event)">
    </ion-range>

    <div class="time-info">
      <span>{{ formatTime(currentTime) }}</span>
      <span>{{ formatTime(duration) }}</span>
    </div>

    <div class="controls">
      <ion-button fill="clear" (click)="skipBack()">
        <ion-icon name="play-skip-back-outline"></ion-icon>
      </ion-button>

      <ion-button fill="solid" color="primary" shape="round" size="large" (click)="togglePlay()">
        <ion-icon slot="icon-only" [name]="isPlaying ? 'pause-outline' : 'play-outline'"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="skipForward()">
        <ion-icon name="play-skip-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
