<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Reproductor de Música</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="music-player">
  <div class="album-art">
    <img src="assets/cover/image.png" alt="Song Cover" />
  </div>

  <div class="song-info">
    <h2>{{ songName }}</h2>

  </div>

  <div class="controls-container">
    <ion-range [(ngModel)]="currentTime" [min]="0" [max]="duration" (ionChange)="seekTo($event)"></ion-range>
    <div class="time-info">
      <span>{{ formatTime(currentTime) }}</span>
      <span>{{ formatTime(duration) }}</span>
    </div>

    <div class="buttons">
      <ion-button fill="clear" (click)="skipBack()">
        <ion-icon name="play-skip-back-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="togglePlay()">
        <ion-icon [name]="isPlaying ? 'pause-outline' : 'play-outline'"></ion-icon>
      </ion-button>

      <ion-button fill="clear" (click)="skipForward()">
        <ion-icon name="play-skip-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
